* {
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "grifter";
  src: url("fonts/grifter.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html {
  background: #09090b;
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: #fafafa;
}

main {
  max-width: 1200px; /* Define a largura máxima */
  margin: 0 auto; /* Centraliza o conteúdo */
  padding: 0 20px; /* Adiciona um pouco de padding para evitar que o conteúdo encoste nas bordas */
}

.home {
  font-family: "Bricolage Grotesque";
  color: #fafafa;
  font-size: 24px;
  font-weight: 800;
}

.home:hover {
  color: #8fff00;
  text-decoration: none;
  text-underline-offset: 16px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 32px;
}

nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  all: unset; /* Remove todas as propriedades padrão do botão */
  cursor: pointer; /* Mantém o cursor de clique */
  width: 200px;
  height: 44px;
  background: #8fff00;
  color: #09090b;
  text-align: center; /* Alinha o texto ao centro */
}

button:hover {
  background: #fafafa;
  color: #09090b;
  transition: 0.3s;
}

.contato:hover {
  text-decoration: none;
}

nav a {
  font-weight: 800;
  font-size: 1.125rem;
  text-decoration: none;
  color: #8fff00;
}

nav a:hover {
  color: #fafafa;
  text-decoration: underline;
  text-underline-offset: 16px;
}

h1 {
  line-height: 1;
  font-family: "Grifter", sans-serif;
  font-size: 8rem;
  font-weight: 900;
}

section .hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.profile-photo {
  width: 330px; /* Ajuste o tamanho conforme necessário */
  height: auto;
}

section h2 {
  max-width: 960px;
  display: flex;
  align-items: right;
  justify-content: right;
  margin-left: 380px;
  color: #fafafa;
  font-family: "Bricolage Grotesque";
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.arrow {
  width: 63px;
  height: 63px;
  margin-left: 190px;
}

// SOBRE MIM PAGE

.aboutmelink a {
  color: #f5f5f5;
}

.sobre-mim .aboutmelink a {
  color: #fafafa; /* Cor branca para o link na página Sobre Mim */
}

.aboutmelink {
  text-decoration: none;
  text-underline-offset: 16px;
}

.aboutmelink:hover {
  color: #fafafa;
  text-decoration: underline;
  text-underline-offset: 16px;
}

.aboutmelink .current {
  text-decoration: underline;
  text-underline-offset: 16px;
}

nav a:hover {
  color: #fafafa;
  text-decoration: underline;
  text-underline-offset: 16px;
}

.portifolio {
  color: #8fff00;
  text-decoration: none;
  text-underline-offset: 16px;
}

.portifolio .current {
  text-decoration: underline;
  text-underline-offset: 16px;
}

.portifolio:hover {
  text-decoration: underline;
}

.current {
  text-decoration: underline;
  text-underline-offset: 16px;
}

nav a:hover {
  color: #8fff00;
}

.hero-aboutme {
  flex: 1;
  display: flex;
  flex-direction: column; /* Alinha os filhos verticalmente */
  justify-content: center;
  align-items: flex-end; /* Alinha os filhos à direita */

  margin: 4rem 0 0 380px;
}

.arrow-aboutme {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  width: 63px;
  height: 63px;

  margin-left: 190px;
  margin-top: 8rem;
}

.aboutmeh1 {
  max-width: 960px;
  margin: 1rem 0;

  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0.1em;
}

span {
  color: #71717a;
  font-weight: bold;
}

// PORTIFOLIO PAGE

.hero-portifolio {
  margin: 0;
}

h3 {
  font-size: 1rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* Cria duas colunas de largura igual */
  gap: 2rem; /* Espaçamento entre os cards */
  justify-items: center; /* Centraliza os cards horizontalmente */
}

/* .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 540px;
  height: 340px;
  //background: #8fff00;
  color: #fafafa;
  border: 1px solid #8fff00;
  border-radius: 24px;
} */

.card {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  //padding: 20px;
  width: 540px;
  height: auto;
  //background: #8fff00;
  color: #fafafa;
  font-size: 1rem;
  border: 1px solid rgba(113, 113, 122, 0.19);
  //border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Garante que o conteúdo não ultrapasse os limites do card */
}

.card:hover {
  border: 1px solid #8fff00;
  background:rgb(8, 24, 11);
  transition: 0.3s;
  cursor: pointer;
}

.card img {
  width: 100%; /* Define a largura fixa da imagem */
  height: 403px; /* Define a altura fixa da imagem */
  object-fit: cover; /* Garante que a imagem cubra todo o espaço do card */
  object-position: top; /* Centraliza a imagem no card */
}

.card p {
  padding: 0 2rem;
  font-weight: 300;
  font-size: 1.2rem;
  text-align: left; /* Alinha o texto à esquerda */
  width: 100%; /* Garante que o texto ocupe toda a largura do card */
  /* display: -webkit-box;
  -webkit-line-clamp: 3; /* Define o número de linhas */
  /* -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; Adiciona "..." ao final do texto */ */

}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr
  ); /* Cria duas colunas de largura igual */
  gap: 2rem; /* Espaçamento entre os cards */
  justify-items: center; /* Centraliza os cards horizontalmente */
  margin-bottom: 4rem; /* Adiciona uma margem inferior de 2rem ao final da seção */
}

h3 {
  color: #fafafa;
  font-family: "Bricolage Grotesque";
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 2rem auto;
}

/* LINHAS DO FOOTER A ADICIONAR */

footer {
  margin-top: 8rem; /* Adiciona uma margem superior de 4rem ao rodapé */
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centraliza os itens verticalmente */
  height: 10rem; /* Define a altura do rodapé */;
  border-top: 1px solid #71717A;
  padding: 0;
  background: #09090b;
  color: #fafafa;
  font-weight: 800;
}

.footer-item-name {
  display: flex;
  flex-direction: row;
  align-items: center; /* Centraliza os itens verticalmente */

}

.footer-item-name p {
  font-size: 1.2rem;
  font-weight: 300;
}
.footer-item {
  gap: 2rem;
  display: flex;
  align-items: center; /* Centraliza os itens verticalmente */
}

.footer-item-name .heart {
  margin-left: 5px;
}

.footer-item a img {
  width: 44px; /* Define a largura da imagem */
  height: auto; /* Ajusta a altura da imagem */
  vertical-align: middle; /* Alinha a imagem verticalmente ao meio do texto */
  margin-left: 5px; /* Adiciona um pequeno espaçamento à esquerda da imagem */
  transition: fill 0.3s; /* Adiciona uma transição suave para a mudança de cor */
}